html {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%,#b5fea7 100%);
    color: #266378;
}

header,
section,
footer {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    header,
    section,
    footer {
        padding: 0;
    }
}

header {
    
}

h1,
h2 {

}

section {

}

#outputCanvas {
    display: block;
    margin: 0 auto 1em;
    background: linear-gradient(135deg, #52B888,#266378);
}

.label-holder {
    margin-bottom: 1em;
}

label {
    display: block;
}

select {
    width: 100%;
    padding: 0.8em;
    border-width: 2px;
    border-image-source: repeating-linear-gradient(to right, #A8DD9C,#24CCAA);
    border-image-slice: 1;
    background-color: transparent;
}

select:focus {
    background-color: #FFFFFF;
    outline: none;
}

input {
    width: 100%;
    padding: 0.8em;
    border-width: 2px;
    border-image-source: repeating-linear-gradient(to right, #A8DD9C,#24CCAA);
    border-image-slice: 1;
    background-color: transparent;
}

input:focus {
    background-color: #FFFFFF;
    outline: none;
}

button {
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 1em;
    padding: 0.8em 1.6em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 2em;
    background: linear-gradient(to right, #A8DD9C,#24CCAA);
}

button:hover {
    background: #266378;
}

button:focus {
    background: #266378;
    outline: none;
}

footer {
    font-size: 11px;
}